
.section-home{
    height: 50vh;
    width: 100%;
    background-color: antiquewhite;
}

.section-post{
    height: 40vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}
